<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stusystem.dao.SysNoteMaterialsConMapper">
  <resultMap id="BaseResultMap" type="com.example.stusystem.model.SysNoteMaterialsCon">
    <result column="materials_note_id" jdbcType="INTEGER" property="materialsNoteId" />
    <result column="materials_id" jdbcType="INTEGER" property="materialsId" />
  </resultMap>
  <insert id="insert" parameterType="com.example.stusystem.model.SysNoteMaterialsCon">
    insert into sys_note_materials_con (materials_note_id, materials_id)
    values (#{materialsNoteId,jdbcType=INTEGER}, #{materialsId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select materials_note_id, materials_id
    from sys_note_materials_con
  </select>
</mapper>