<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stusystem.dao.SysStudyTaskMapper">
  <resultMap id="BaseResultMap" type="com.example.stusystem.model.SysStudyTask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="learn_time" jdbcType="INTEGER" property="learnTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="task_address" jdbcType="INTEGER" property="taskAddress" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_study_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.stusystem.model.SysStudyTask">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_study_task (name, learn_time, start_time, 
      end_time, task_address, score
      )
    values (#{name,jdbcType=VARCHAR}, #{learnTime,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{taskAddress,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.stusystem.model.SysStudyTask">
    update sys_study_task
    set name = #{name,jdbcType=VARCHAR},
      learn_time = #{learnTime,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      task_address = #{taskAddress,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, learn_time, start_time, end_time, task_address, score
    from sys_study_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, learn_time, start_time, end_time, task_address, score
    from sys_study_task
  </select>
</mapper>